html {
  height:100%;
  width:100%;
  font-family:arial,sans-serif;
}
#header-wrap {
  width:100%;
  height:16%;
  background-color:#f1f1f1;
  margin:0;
  padding:0;
  display:block;
}
.search-bar {
  display:inline-block;
}
#google-img {
  height:100px;
  width:125px;
}
#search-input {
  width:500px;
  height:35px;
  font-size:16px;
  position:relative;
  top:-48px;
  padding-right:100px;
  padding-left:25px;
}
#mic-search {
  background:url("../photos-folder/googlemic.png") no-repeat;
  background-size:24px;
  width:24px;
  height:65px;
  position:relative;
  margin-left:-80px;
}
#search-icon {
  background:url("../photos-folder/search.png") no-repeat;
  background-size:20px;
  width:24px;
  height:61px;
  position:relative;
  margin-left:10px;
}
#sign-in {
  float:right;
  position:absolute;
  margin-left:26%;
  margin-top:3%;
}
#person button {
  color:#FFFFFF;
  background-color:#0B87F3;
  border-radius:5%;
  padding:8px 10px;
  font-weight:bold;
}
input [type="button"]{
  border:none;
  outline:none;
}
#notifications img {
  height:18px;
  width:18px;
  padding-right:15px;
  vertical-align:bottom;
}
#apps-icon img {
  height:18px;
  width:18px;
  padding-right:15px;
  vertical-align:bottom;
}
#person img {
  position:relative;
  height:24px;
  width:24px;
}
#navigation {
  width:100%;
  height:5%;
  margin-top:-35px;
  padding:0;
  display:block;
  position:fixed;
}
.navi {
  list-style:none;
  display:inline-block;
}
#l_navi li,#r_navi li {
  display:inline-block;
  padding:0 10px;
  font-size:14px;
}
#l_navi {
  margin-left:100px;
  margin-top:-50px;

}
#r_navi {
  margin-left:50px;
  margin-top:-50px;
}
a:link {
  text-decoration:none;
  color:#777;
}
a:visited {
  text-decoration:none;
  color:#777;
}
a:hover {
  text-decoration:none;
  color:#444343;
}
#all {
  color:#4285f4;
}
#all:after {
  content:'';
  height:3px;
  width:3%;
  background-color:#4285f4;
  position:absolute;
  margin-top:30px;
  margin-left:-30px;
}
#tools a:hover {
  border:0.5px solid #B5B5B5;
  border-radius:3px;
  background-color:#f1f1f1;
  padding:5px 5px;
  font:#444343;
}
#body {
  border:1px solid black;
  margin-left:10%;
  height:100%;
  width:49%;
  position:fixed;
}